<h2>Eventos</h2>

<form action="" class="form-inline">
    <div class="form-group mb2">
        <input type="text" class="form-control mr-2" placeholder="buscar">
        <button class="btn btn-outline-success">Buscar</button>
    </div>
</form>

<table class="table table-striped mt-2">
    <thead class="thead-dark">
    <tr>
        <th>#</th>
        <th>Imagem</th>
        <th>Tema</th>
        <th>Local</th>
        <th>Data</th>
        <th>Qtde Pessoas</th>
        <th>Lote</th>
        <th>Opções</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</tbody>
</table>

<div *ngFor="let evento of eventos">
<p><b>Tema: </b>{{evento.tema}}</p>
<p><b>Local: </b>{{evento.local}}</p>
<hr>
</div>

